#profile {
	width: 30%;
	margin: 0 auto;
	background: #045FB4;
	padding: 20px 10px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #333;
}
.btn {
	background: #000;
	display: inline-block;
	padding: 8px;
	color: #fff;
	border-radius: 5px;
}
#btn_start_chat {
}

#wrapper {
	width: 30%;
	background: #045FB4;
	padding: 20px 10px;
	margin: 0 auto;
}
#wrapper form table {
	margin: 0 auto;
}
table {
	text-align:center;
}
tr td {
	padding: 0;
	margin: 0
}
tr td label {
	display: inline-block;
	margin: 0;
	width: 29%;
}
tr td input {
	display: inline-block;
	width: 69%;
	padding: 5px;
}
form input[type="submit"] {
	background: #000;	
	margin: 5px 0px;
	padding: 0;
	display: block;
	border: 0px;
	padding: 5px;
	color: #fff;
	border-radius: 5px;
	display: inline-block;
	width: 50px;
}
#wrapper.col-40 { 
	width: 40%;
	display: block;
	padding: 20px;
	padding-bottom: 2px;
}
div.col-70 , div.col-30{
	display: inline-block;
	margin: 0;
}
div.col-70 {
	width: 69%;
}
div.col-30 {
	width: 29%;
}
div.align-right {
	text-align: right;
}
#foot form #message {
	display: inline-block;
	width: 70%;
}
#foot form input[type="submit"] {
	display: inline-block;
	border: 0px;
	padding: 5px;
	margin: 0;
}
#chat-history {
	height: 60%;
	background: #fff;
	min-width: 100px;
	overflow: auto;
}
input[type="text"], input[type="password"] {
	padding: 8px;
}